In [17]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

In [18]:
# Load in file
# Store filepath in a variable

dailyActivity_merged_csv = Path("Resources/dailyActivity_merged.csv")

dailyCalories_merged_csv = Path("Resources/dailyCalories_merged.csv")

dailyIntensities_merged_csv = Path("Resources/dailyIntensities_merged.csv")

heartrate_seconds_merged_csv = Path("Resources/heartrate_seconds_merged.csv")

sleepDay_merged_csv = Path("Resources/sleepDay_merged.csv")

weightLogInfo_merged_csv = Path ("Resources/weightLogInfo_merged.csv")

dailySteps_merged_csv = Path("Resources/dailySteps_merged.csv")

In [19]:
# Read titles and credits data file and store into Pandas DataFrames

dailyActivity_merged_df = pd.read_csv(dailyActivity_merged_csv)

dailyCalories_merged_df = pd.read_csv(dailyCalories_merged_csv)

dailyIntensities_merged_df = pd.read_csv(dailyIntensities_merged_csv)

heartrate_seconds_merged_df = pd.read_csv(heartrate_seconds_merged_csv)

sleepDay_merged_df = pd.read_csv(sleepDay_merged_csv)

weightLogInfo_merged_df = pd.read_csv(weightLogInfo_merged_csv)

dailySteps_merged_df = pd.read_csv(dailySteps_merged_csv)

In [13]:
# Display the 'dailyActivity_merged' DataFrame

dailyActivity_merged_df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [14]:
# Count the number of missing values in each column

dailyActivity_merged_df.isnull().sum()

Id                          0
ActivityDate                0
TotalSteps                  0
TotalDistance               0
TrackerDistance             0
LoggedActivitiesDistance    0
VeryActiveDistance          0
ModeratelyActiveDistance    0
LightActiveDistance         0
SedentaryActiveDistance     0
VeryActiveMinutes           0
FairlyActiveMinutes         0
LightlyActiveMinutes        0
SedentaryMinutes            0
Calories                    0
dtype: int64

In [15]:
# Find duplicate values
duplicate_values = dailyActivity_merged_df[dailyActivity_merged_df.duplicated()]

# Check if there are any duplicates
if duplicate_values.empty:
  print("There are no duplicates in the DataFrame.")
else:
  print("There are duplicates in the DataFrame")

There are no duplicates in the DataFrame.

In [16]:
# Display data types of each column in the DataFrame

dailyActivity_merged_df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [17]:
# Convert the 'ActivityDate' column to datetime format

dailyActivity_merged_df['ActivityDate']= pd.to_datetime(dailyActivity_merged_df['ActivityDate'], errors = 'coerce')

In [18]:
# Check the data types

dailyActivity_merged_df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [74]:
# Save as CSV file

dailyActivity_merged_df.to_csv('daily_activity_merged.csv', index=False)

In [20]:
# Display the 'dailyCalories_merged' DataFrame

dailyCalories_merged_df

             Id ActivityDay  Calories
0    1503960366   4/12/2016      1985
1    1503960366   4/13/2016      1797
2    1503960366   4/14/2016      1776
3    1503960366   4/15/2016      1745
4    1503960366   4/16/2016      1863
..          ...         ...       ...
935  8877689391    5/8/2016      2847
936  8877689391    5/9/2016      3710
937  8877689391   5/10/2016      2832
938  8877689391   5/11/2016      3832
939  8877689391   5/12/2016      1849

[940 rows x 3 columns]

In [21]:
# Count the number of missing values in each column

dailyCalories_merged_df.isnull().sum()

Id             0
ActivityDay    0
Calories       0
dtype: int64

In [22]:
# Find duplicate values
duplicate_values = dailyCalories_merged_df[dailyCalories_merged_df.duplicated()]

# Check if there are any duplicates
if duplicate_values.empty:
    print("There are no duplicates in the DataFrame")
else:
    print("There are duplicates in the DataFrame")

There are no duplicates in the DataFrame

In [23]:
# Display data types of each column in the DataFrame

dailyCalories_merged_df.dtypes

Id              int64
ActivityDay    object
Calories        int64
dtype: object

In [24]:
# Convert the 'ActivityDay' column to datetime format

dailyCalories_merged_df['ActivityDay'] = pd.to_datetime(dailyCalories_merged_df['ActivityDay'], errors = 'coerce')

In [25]:
# Check the data types

dailyCalories_merged_df.dtypes

Id                      int64
ActivityDay    datetime64[ns]
Calories                int64
dtype: object

In [75]:
# Save as CSV file

dailyCalories_merged_df.to_csv("daily_calories_merged.csv", index=False)

In [27]:
# Display the 'dailyIntensities_merged' DataFrame

dailyIntensities_merged_df

,Id,ActivityDay,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance
0,1503960366,4/12/2016,728,328,13,25,0.00,6.06,0.55,1.88
1,1503960366,4/13/2016,776,217,19,21,0.00,4.71,0.69,1.57
2,1503960366,4/14/2016,1218,181,11,30,0.00,3.91,0.40,2.44
3,1503960366,4/15/2016,726,209,34,29,0.00,2.83,1.26,2.14
4,1503960366,4/16/2016,773,221,10,36,0.00,5.04,0.41,2.71
...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,1174,245,4,17,0.00,6.80,0.20,1.08
936,8877689391,5/9/2016,1131,217,19,73,0.05,6.24,0.80,11.10
937,8877689391,5/10/2016,1187,224,11,18,0.00,6.28,0.46,1.35
938,8877689391,5/11/2016,1127,213,12,88,0.00,5.89,0.41,13.22
939,8877689391,5/12/2016,770,137,1,23,0.00,4.25,0.04,1.82

In [28]:
# Count the number of missing values in each column

dailyIntensities_merged_df.isnull().sum()

Id                          0
ActivityDay                 0
SedentaryMinutes            0
LightlyActiveMinutes        0
FairlyActiveMinutes         0
VeryActiveMinutes           0
SedentaryActiveDistance     0
LightActiveDistance         0
ModeratelyActiveDistance    0
VeryActiveDistance          0
dtype: int64

In [29]:
# Find duplicate values
duplicate_values = dailyIntensities_merged_df[dailyIntensities_merged_df.duplicated()]

# Check if there are any duplicates
if duplicate_values.empty:
    print("There are no duplicates in the DataFrame.")
else:
    print("There are duplicates in the DataFrame")

There are no duplicates in the DataFrame.

In [30]:
# Display data types of each column in the DataFrame

dailyIntensities_merged_df.dtypes

Id                            int64
ActivityDay                  object
SedentaryMinutes              int64
LightlyActiveMinutes          int64
FairlyActiveMinutes           int64
VeryActiveMinutes             int64
SedentaryActiveDistance     float64
LightActiveDistance         float64
ModeratelyActiveDistance    float64
VeryActiveDistance          float64
dtype: object

In [31]:
# Convert the 'ActivityDay' column to datetime format

dailyIntensities_merged_df["ActivityDay"] = pd.to_datetime(dailyIntensities_merged_df["ActivityDay"], errors = 'coerce')

In [32]:
# Check the data types

dailyIntensities_merged_df.dtypes

Id                                   int64
ActivityDay                 datetime64[ns]
SedentaryMinutes                     int64
LightlyActiveMinutes                 int64
FairlyActiveMinutes                  int64
VeryActiveMinutes                    int64
SedentaryActiveDistance            float64
LightActiveDistance                float64
ModeratelyActiveDistance           float64
VeryActiveDistance                 float64
dtype: object

In [76]:
# Save as CSV file

dailyIntensities_merged_df.to_csv("daily_intensities_merged.csv", index=False)

In [4]:
# Display the 'dailyActivity_merged' DataFrame

heartrate_seconds_merged_df

                 Id                  Time  Value
0        2022484408  4/12/2016 7:21:00 AM     97
1        2022484408  4/12/2016 7:21:05 AM    102
2        2022484408  4/12/2016 7:21:10 AM    105
3        2022484408  4/12/2016 7:21:20 AM    103
4        2022484408  4/12/2016 7:21:25 AM    101
...             ...                   ...    ...
2483653  8877689391  5/12/2016 2:43:53 PM     57
2483654  8877689391  5/12/2016 2:43:58 PM     56
2483655  8877689391  5/12/2016 2:44:03 PM     55
2483656  8877689391  5/12/2016 2:44:18 PM     55
2483657  8877689391  5/12/2016 2:44:28 PM     56

[2483658 rows x 3 columns]

In [5]:
# Count the number of missing values in each column

heartrate_seconds_merged_df.isnull().sum()

Id       0
Time     0
Value    0
dtype: int64

In [6]:
# Find duplicate values
duplicate_values =heartrate_seconds_merged_df[heartrate_seconds_merged_df.duplicated()]

# Check if there are any duplicates
if duplicate_values.empty:
    print("There are no duplicates in the DataFrame.")
else:
    print("There are duplicates in the DataFrame")

There are no duplicates in the DataFrame.

In [7]:
# Display data types of each column in the DataFrame

heartrate_seconds_merged_df.dtypes

Id        int64
Time     object
Value     int64
dtype: object

In [20]:
# Convert the 'Time' column to datetime format
heartrate_seconds_merged_df["Time"] = pd.to_datetime(heartrate_seconds_merged_df["Time"], errors='coerce')

# # # Normalize the datetime to keep only the date part
heartrate_seconds_merged_df["Time"] = heartrate_seconds_merged_df["Time"].dt.normalize()

# Rename the 'Time' column to 'Date'
heartrate_seconds_merged_df.rename(columns={'Time':'Date'}, inplace=True)

# # Print the data types
print(heartrate_seconds_merged_df.dtypes)

Id                int64
Date     datetime64[ns]
Value             int64
dtype: object

In [21]:
heartrate_seconds_merged_df

                 Id       Date  Value
0        2022484408 2016-04-12     97
1        2022484408 2016-04-12    102
2        2022484408 2016-04-12    105
3        2022484408 2016-04-12    103
4        2022484408 2016-04-12    101
...             ...        ...    ...
2483653  8877689391 2016-05-12     57
2483654  8877689391 2016-05-12     56
2483655  8877689391 2016-05-12     55
2483656  8877689391 2016-05-12     55
2483657  8877689391 2016-05-12     56

[2483658 rows x 3 columns]

In [22]:
# Save as CSV file

heartrate_seconds_merged_df.to_csv("heartrate_seconds_merged.csv", index=False)

In [61]:
# Display the 'sleepDay_merged' DataFrame

sleepDay_merged_df

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,4/12/2016 12:00:00 AM,1,327,346
1,1503960366,4/13/2016 12:00:00 AM,2,384,407
2,1503960366,4/15/2016 12:00:00 AM,1,412,442
3,1503960366,4/16/2016 12:00:00 AM,2,340,367
4,1503960366,4/17/2016 12:00:00 AM,1,700,712
...,...,...,...,...,...
408,8792009665,4/30/2016 12:00:00 AM,1,343,360
409,8792009665,5/1/2016 12:00:00 AM,1,503,527
410,8792009665,5/2/2016 12:00:00 AM,1,415,423
411,8792009665,5/3/2016 12:00:00 AM,1,516,545
412,8792009665,5/4/2016 12:00:00 AM,1,439,463

In [62]:
# Count the number of missing values in each column

sleepDay_merged_df.isnull().sum()

Id                    0
SleepDay              0
TotalSleepRecords     0
TotalMinutesAsleep    0
TotalTimeInBed        0
dtype: int64

In [63]:
# Convert the 'SleepDay' column to datetime format
sleepDay_merged_df["SleepDay"] = pd.to_datetime(sleepDay_merged_df["SleepDay"], errors ='coerce')

# Normalize the datetime to keep only the date part
sleepDay_merged_df["SleepDay"] = sleepDay_merged_df["SleepDay"].dt.normalize()

# Print the data types
print(sleepDay_merged_df.dtypes)

Id                             int64
SleepDay              datetime64[ns]
TotalSleepRecords              int64
TotalMinutesAsleep             int64
TotalTimeInBed                 int64
dtype: object

In [64]:
# Find duplicate values
duplicate_values = sleepDay_merged_df[sleepDay_merged_df.duplicated()]

# Check if there are any duplicates
if duplicate_values.empty:
  print("There are no duplicates in the DataFrame.")
else:
  print("There are duplicates in the DataFrame")

There are duplicates in the DataFrame

In [65]:
# Remove rows where all data is identical
sleepDay_merged_df = sleepDay_merged_df.drop_duplicates()

# Confirming that duplicates have been removed
if sleepDay_merged_df.duplicated().any():
  print("There are still duplicates in the DataFrame.")
else:
  print("All duplicates have been removed from the DataFrame.")

All duplicates have been removed from the DataFrame.

In [78]:
# Save as CSV file

sleepDay_merged_df.to_csv("sleep_day_merged.csv", index = False)

In [41]:
# Display the 'dailyActivity_merged' DataFrame

weightLogInfo_merged_df

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.650000,True,1462233599000
1,1503960366,5/3/2016 11:59:59 PM,52.599998,115.963147,NaN,22.650000,True,1462319999000
2,1927972279,4/13/2016 1:08:52 AM,133.500000,294.317120,NaN,47.540001,False,1460509732000
3,2873212765,4/21/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1461283199000
4,2873212765,5/12/2016 11:59:59 PM,57.299999,126.324875,NaN,21.690001,True,1463097599000
...,...,...,...,...,...,...,...,...
62,8877689391,5/6/2016 6:43:35 AM,85.000000,187.392923,NaN,25.440001,False,1462517015000
63,8877689391,5/8/2016 7:35:53 AM,85.400002,188.274775,NaN,25.559999,False,1462692953000
64,8877689391,5/9/2016 6:39:44 AM,85.500000,188.495234,NaN,25.610001,False,1462775984000
65,8877689391,5/11/2016 6:51:47 AM,85.400002,188.274775,NaN,25.559999,False,1462949507000
66,8877689391,5/12/2016 6:42:53 AM,84.000000,185.188300,NaN,25.139999,False,1463035373000

In [42]:
# Display data types of each column in the DataFrame

weightLogInfo_merged_df.dtypes

Id                  int64
Date               object
WeightKg          float64
WeightPounds      float64
Fat               float64
BMI               float64
IsManualReport       bool
LogId               int64
dtype: object

In [43]:
# Convert the 'Date' column to datetime format
weightLogInfo_merged_df["Date"] = pd.to_datetime(weightLogInfo_merged_df["Date"], errors='coerce')

# Normalize the datetime to keep only the date part
weightLogInfo_merged_df["Date"] = weightLogInfo_merged_df["Date"].dt.normalize()

# Convert the 'Fat' column to float type
weightLogInfo_merged_df["Fat"]=weightLogInfo_merged_df["Fat"].astype("float64")

In [44]:
# Check the data types

weightLogInfo_merged_df.dtypes

Id                         int64
Date              datetime64[ns]
WeightKg                 float64
WeightPounds             float64
Fat                      float64
BMI                      float64
IsManualReport              bool
LogId                      int64
dtype: object

In [45]:
# Count the number of missing values in each column

weightLogInfo_merged_df.isnull().sum()

Id                 0
Date               0
WeightKg           0
WeightPounds       0
Fat               65
BMI                0
IsManualReport     0
LogId              0
dtype: int64

In [46]:
# Impute missing values with "Unknown" for the 'Fat' column

weightLogInfo_merged_df["Fat"].fillna("Unknown", inplace=True)

In [47]:
# Check the misiing values

weightLogInfo_merged_df.isnull().sum()

Id                0
Date              0
WeightKg          0
WeightPounds      0
Fat               0
BMI               0
IsManualReport    0
LogId             0
dtype: int64

In [48]:
# Find duplicate values
duplicate_values = weightLogInfo_merged_df[weightLogInfo_merged_df.duplicated()]

# Check if there are any duplicates
if duplicate_values.empty:
  print("There are no duplicates in the DataFrame.")
else:
  print("There are duplicates in the DataFrame")

There are no duplicates in the DataFrame.

In [79]:
# Save as CSV file

weightLogInfo_merged_df.to_csv("weight_log_info_merged.csv", index=False)

In [67]:
# Display the 'dailySteps_merged' DataFrame

dailySteps_merged_df

             Id ActivityDay  StepTotal
0    1503960366   4/12/2016      13162
1    1503960366   4/13/2016      10735
2    1503960366   4/14/2016      10460
3    1503960366   4/15/2016       9762
4    1503960366   4/16/2016      12669
..          ...         ...        ...
935  8877689391    5/8/2016      10686
936  8877689391    5/9/2016      20226
937  8877689391   5/10/2016      10733
938  8877689391   5/11/2016      21420
939  8877689391   5/12/2016       8064

[940 rows x 3 columns]

In [68]:
# Count the number of missing values in each column

dailySteps_merged_df.isnull().sum()

Id             0
ActivityDay    0
StepTotal      0
dtype: int64

In [69]:
# Find duplicate values
duplicate_values = dailySteps_merged_df[dailySteps_merged_df.duplicated()]

# Check if there are any duplicates

if duplicate_values.empty:
    print("There are duplicates in the DataFrame.")
else:
    print("There are no duplicates in the DataFrame.")

There are duplicates in the DataFrame.

In [57]:
# Remove rows where all data is identical
dailySteps_merged_df = dailySteps_merged_df.drop_duplicates()

# Confirming that duplicates have been removed
if dailySteps_merged_df.duplicated().any():
  print("There are still duplicates in the DataFrame.")
else:
  print("All duplicates have been removed from the DataFrame.")

All duplicates have been removed from the DataFrame.

In [70]:
# Display data types of each column in the DataFrame

dailySteps_merged_df.dtypes

Id              int64
ActivityDay    object
StepTotal       int64
dtype: object

In [71]:
# Convert the 'ActivityDay' column to datetime format

dailySteps_merged_df['ActivityDay'] = pd.to_datetime(dailySteps_merged_df['ActivityDay'], errors = 'coerce')

# Print the data types

print(dailySteps_merged_df.dtypes)

Id                      int64
ActivityDay    datetime64[ns]
StepTotal               int64
dtype: object

In [80]:
# Save as CSV file

dailySteps_merged_df.to_csv("daily_steps_merged.csv", index=False)